<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Customers"  value="C:\Users\Patri\OneDrive\Dokumente\VaWi\C_Sharp\Pruefungsleistung\OBJC_WS2023_Hausarbeit_Schubert\Filestore\Kundendatei.xml"/>
    <add key="Tools" value="C:\Users\Patri\OneDrive\Dokumente\VaWi\C_Sharp\Pruefungsleistung\OBJC_WS2023_Hausarbeit_Schubert\Filestore\Werkzeuge.xml"/>
    <add key="ToolCategories" value="C:\Users\Patri\OneDrive\Dokumente\VaWi\C_Sharp\Pruefungsleistung\OBJC_WS2023_Hausarbeit_Schubert\Filestore\WerkzeugKategorie.xml"/>
    <add key="Lendings" value="C:\Users\Patri\OneDrive\Dokumente\VaWi\C_Sharp\Pruefungsleistung\OBJC_WS2023_Hausarbeit_Schubert\Filestore\Lendings.xml"/>
  </appSettings>
</configuration>